@if (isPopupVisible()) {
<div class="sum-popup flex center">
    <section class="sum wrapper flex center column gap20">
        <div class="flex center column">
            @if (data(); as stats) {
            <P>Visits: {{ stats.all }}</P>
            <P>Unique visits: {{ stats.unique }}</P>
            <P>Monthly visits: {{ stats.monthly }}</P>
            } @if (!data()) {
            <div class="spinner-container">
                <div class="spinner"></div>
            </div>
            }
        </div>
    </section>
</div>
<button class="close-btn" (click)="close()"></button>
}