@if (isPopupVisible) {
<div class="sum-popup flex center">
    <section class="sum wrapper flex center column gap20">
        <div class="flex center column">
            @if (data) {
            <P>Visits: {{ data.all }}</P>
            <P>Unique visits: {{ data.unique }}</P>
            <P>Monthly visits: {{ data.monthly }}</P>
            } @if (!data) {
            <div class="spinner-container">
                <div class="spinner"></div>
            </div>
            }
        </div>
    </section>
</div>
<button class="close-btn" (click)="close()"></button>
}