* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

html {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 32px; */
}

body {
    display: flex;
    justify-content: center;
}


nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 70px;
    background-color: #222222;
    color: #00a6a0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: auto;
    align-items: center;
    padding-right: 16px;
}

nav>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #00a6a0;
    font-size: 20px;
    font-weight: bold;
}

#certBtn {
    padding: 12px 8px;
    border-radius: 24px;
    font-size: 20px;
    background-color: transparent;
    color: #00a6a0;
    border: 2px solid #00a6a0;
}

main {
    width: 90vw;
}

main>div {
    margin-top: 70px;
}

header {
    background-color: bisque;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 120px;
    overflow: hidden;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

#profile>div>div:nth-child(2)>img {
    width: 250px;
    height: 280px;
    aspect-ratio: 1.2/1;
}

#profile>div>div:nth-child(2) {
    border-radius: 250px;
    overflow: hidden;
    width: 250px;
}

#profile>header {
    margin-top: 40px;
}

h1 {
    color: #00a6a0;
    font-size: 48px;
}

h2 {
    font-size: 28px;
    color: darkgray;
}

h3 {
    color: #00a6a0;
    font-size: 28px;
    margin: 0px 0px 16px 12px;
}

.information {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid gray;
}

.info {
    width: 30%;
    padding-bottom: 16px;
    line-height: 1.5;
}


.info p,
b {
    color: #222222;
    font-size: 22px;
    margin-left: 12px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    gap: 32px;
}

.social a {
    width: 60px;
    height: 60px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}

.social a:hover {
    background-color: #00a6a0;
}

.social i {
    border: 1px solid gray;
    border-radius: 100%;
}

#education>div>div>ul>li>ol>li>a>span>img {
    display: none;
}

.info2 {
    line-height: 1;
}

.info2 p {
    color: #00a6a0;
    font-size: 28px;
    margin: 0px 0px 16px 12px;
}

.courses {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#education>div>div>ul>li:nth-child(3)>ol>li {
    border: 1px solid;
    border-radius: 12px;
    display: inline-block;
    padding: 2px 12px;
    background-color: white;
    transition: linear 100ms;
}

#education>div>div>ul>li:nth-child(3)>ol>li:hover {
    background-color: #00a6a0;
}

#education>div>div>ul>li:nth-child(3)>ol {
    line-height: 1.2;
}

.courses>li>a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: block;
}

.info3 {
    line-height: 2.2;
}

.info3>dl>dt>p>i,
.info3>dl>dt {
    color: #00a6a0;
    font-weight: bold;
}

.info5,
.info4 {
    line-height: 2.5;
    padding-bottom: 40px;
}


#expirience>div>div>ul>li>p:nth-child(1),
#contacts>div>div>ul>li>p:nth-child(1) {
    color: #00a6a0;
    font-size: 22px;
}

#cert {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
    margin-top: 40px;
}

.certPics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.certPics>div {
    width: 40%;
    height: 540px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #222222;
    border-radius: 12px;
}

.certPics>div:nth-child(2n-1) {

    background-color: #c47a23;
}

.certPics>div>img {
    height: 540px;
    width: 360px;
}

#certBtn>p:nth-child(1) {
    display: flex;
    justify-content: center;
}