.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 32px;
  width: 60vw;
}

.social a {
  width: 120px;
  height: 120px;
  font-size: 60px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background-color: #386365;
}

.social a:hover {
  background-color: #00a6a0;
}

.social a:hover > .socialText {
  display: inline;
}

.social i {
  height: 120px;
  display: flex;
  justify-content: center;
}

.info {
  height: 350px;
}

@media (orientation: portrait) {
  .social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .info {
    height: 520px;
  }
}
