<section class="wrapper stat">
    @if (data.length !== 0) {
    <label>
        <input type="checkbox" (click)="filter()" /> Exclude this device
    </label>
    <table class="user-table">
        <thead>
            <tr>
                <th>Country</th>
                <th>City</th>
                <th class="mobile-hide">Provider</th>
                <th>IP Address</th>
                <th class="mobile-hide">Operating System</th>
                <th class="mobile-hide">Browser</th>
                <th>Date & Time</th>
            </tr>
        </thead>
        <tbody>
            @for (user of data; track user.dateTime) {
            <tr>
                <td>{{ user.country }}</td>
                <td>{{ user.city }}</td>
                <td class="mobile-hide">{{ user.org }}</td>
                <td>{{ user.ip }}</td>
                <td class="mobile-hide">{{ user.os }}</td>
                <td class="mobile-hide">{{ user.browser }}</td>
                <td>{{ user.dateTime }}</td>
            </tr>
            }
        </tbody>
    </table>
    <div class="arrows">
        <div class="arrows">
            @if (page > 1) {
            <button class="arrow" (click)="previous()">
                &lt;</button>
            } @if (page <= 1) { <div class="arrow">
        </div>
        } @if (data.length === 20) {
        <button class="arrow" (click)="next()"> &gt;</button>
        }
    </div>
    <p class="pagenumber">{{ page }}</p>
    </div>
    } @if (data.length === 0) {
    <div class="spinner-container">
        <div class="spinner"></div>
    </div>
    }
</section>
<section class="wrapper back">
    <button class="back-btn" (click)="back()">Back</button>
</section>