<div class="oveflow-hidden">
    <button class="round-btn" (click)="openHistory()"></button>

    <title-component />

    <button class="sum-btn" (click)="showSummary()"></button>
    <sum-stat-component [isPopupVisible]="summaryPopupVisible" />

    <summary-component />

    <education-component />

    @defer (on viewport) {
    <experience-component />
    }
    @placeholder {
    <p class="placeholder">Loading...</p>
    }
    @error {
    <p>Error loading data!</p>
    }

    @defer (on viewport) {
    <skills-component />
    }
    @placeholder {
    <p class="placeholder">Loading...</p>
    }
    @error {
    <p>Error loading data!</p>
    }

    @defer (on viewport) {
    <contact-component />
    }
    @placeholder {
    <p class="placeholder">Loading...</p>
    }
    @error {
    <p>Error loading data!</p>
    }

    @defer (on viewport) {
    @defer (on interaction) {
    <cert-component />
    }
    @placeholder {
    <div class="wrapper button">
        <p>Certificates</p>
    </div>
    }
    @error {
    <p>Error loading data!</p>
    }
    }
    @placeholder {
    <p class="placeholder">Loading...</p>
    }
    @error {
    <p>Error loading data!</p>
    }

    <app-scroll-to-top />
</div>