<div class="oveflow-hidden">
    <button class="round-btn" (click)="openLogin()"></button>

    <title-component />

    <summary-component />

    <education-component />

    @defer (on viewport) {
    <experience-component />
    }
    @placeholder {
    <p>Loading...</p>
    }
    @error {
    <p>Error loading data!</p>
    }

    @defer (on viewport) {
    <skills-component />
    }
    @placeholder {
    <p>Loading...</p>
    }
    @error {
    <p>Error loading data!</p>
    }

    @defer (on viewport) {
    <contact-component />
    }
    @placeholder {
    <p>Loading...</p>
    }
    @error {
    <p>Error loading data!</p>
    }

    @defer (on interaction) {
    <cert-component />
    }
    @placeholder {
    <div class="wrapper button">
        <p>Certificates</p>
    </div>
    }
    @error {
    <p>Error loading data!</p>
    }

    <app-scroll-to-top />
</div>