<section class="head wrapper box left">
    <header class="inner welcome">
        <h2 class="flex center three-d-text">Welcome to Todor's CV</h2>
    </header>
</section>
<section class="summary wrapper box right">
    <div class="text drop flex center column">
        <h3>Summary</h3>
        <p>Hello</p>
        <p>I am not looking for a job</p>
        <p>This page is for practice purpose</p>
    </div>
</section>
<section class="wrapper education box left">
    <div class="inner text drop">
        <h3>Education</h3>
        <ul class="list">
            <li>
                <p>2003-2008 PGMET Pazardjik</p>
            </li>
            <li>
                <p>2008-2021 Only working</p>
            </li>
            <li>
                <p>2021-2023 SoftUni University</p>
                <ol>
                    <li>
                        C# Basic
                    </li>
                    <li>
                        C# Fundamentals
                    </li>
                    <li>
                        C# OOP
                    </li>
                    <li>
                        C# Advanced
                    </li>
                    <li>
                        MSSQL
                    </li>
                    <li>
                        EntityFramework
                    </li>
                    <li>
                        C# Web Fundamentals
                    </li>
                    <li>
                        C# Web Advanced
                    </li>
                    <li>
                        HTML & CSS
                    </li>
                    <li>
                        JS Front-End
                    </li>
                </ol>
            </li>
            <li>
                <p>2023+ Udemy</p>
                <ol>
                    <li>
                        Minimal API
                    </li>
                    <li>
                        Docker and K8s
                    </li>
                    <li>
                        Advanced SQL
                    </li>
                    <li>
                        Angular
                    </li>
                </ol>
            </li>
            <br>
        </ul>
    </div>
</section>
@defer (on viewport) {
<section class="wrapper experience box right">
    <div class="inner text rise wide80 flex center column">
        <h3>Experience</h3>
        <ol>
            <li>Car wash worker</li>
            <ol>
                <li class="company">KA Oil: 3 months</li>
            </ol>
            <li>Construction worker</li>
            <ol>
                <li class="company">Various companies: 5 years</li>
            </ol>
            <li>Machine operator</li>
            <ol>
                <li class="company">Techno Aktash: 1 year, 10 months</li>
                <li class="company">Sensata Technologies: 9 months</li>
            </ol>
            <li>Production Line Leader</li>
            <ol>
                <li class="company">Sensata Technologies: 2 years, 1 months</li>
            </ol>
            <li>Senior Production Line Leader</li>
            <ol>
                <li class="company">Sensata Technologies: 4 years, 1 months</li>
            </ol>
            <li>Developer</li>
            <ol>
                <li class="company">
                    <p>IGE-XAO Balkan:</p>
                    <p>{{currentPossitionTime}}</p>
                </li>
            </ol>
        </ol>
    </div>
</section>
}
@placeholder {
<p>Loading...</p>
}
@error {
<p>Error loading data!</p>
}
@defer (on viewport) {
<section class="wrapper skills box left">
    <div class="inner text drop flex center column">
        <h3 class="flex center">Skills</h3>
        <div class="flex center logos">
            <img src="assets/logos/git.png" alt="github">
            <img src="assets/logos/csharp.png" alt="C#">
            <img src="assets/logos/sql.png" alt="MSSQL">
            <img src="assets/logos/docker.png" alt="Docker">
            <img src="assets/logos/kubernetes.png" alt="Kubernetes">
            <img src="assets/logos/oauth2.jpg" alt="OAuth2">
            <img src="assets/logos/masstransit.png" alt="Masstransit">
            <img src="assets/logos/ang.png" alt="Angular">
            <img src="assets/logos/html5-logo.png" alt="HTML">
            <img src="assets/logos/css.webp" alt="CSS">
            <img src="assets/logos/js.png" alt="JS">
        </div>
    </div>
</section>
}
@placeholder {
<p>Loading...</p>
}
@error {
<p>Error loading data!</p>
}

@defer (on viewport) {
<section class="wrapper info box right">
    <div class="inner text rise flex center column gap20">
        <h3>Contacts</h3>
        <div class="social">
            <i>
                <a class="fa-solid fa-envelope"
                    href="mailto:dimi7rof@gmail.com?subject=Offer, you cannot refuse&body=Hello. We would like to make an offer to you."></a>
            </i>
            <i>
                <a class="fa-brands fa-linkedin-in" href="http://linkedin.com/in/dimi7rof" target="_blank"></a>
            </i>
            <i>
                <a class="fa-brands fa-github" href="https://github.com/dimi7rof" target="_blank"></a>
            </i>
            <i>
                <a class="fab fa-facebook-f" href="http://facebook.com/dimi7rof" target="_blank"></a>
            </i>
        </div>
        <div>
            <ul class="flex center column">
                <li class="flex center column wide50">
                    <p>+359 883 470 209</p>
                </li>
            </ul>
        </div>
    </div>
</section>
}
@placeholder {
<p>Loading...</p>
}
@error {
<p>Error loading data!</p>
}