.button {
  height: 100px;
}

.button > p {
  border: 2px solid rgb(0, 201, 27);
  padding: 8px;
  border-radius: 20px;
}

.button > p:hover,
.button > p:focus {
  padding: 16px;
  color: black;
  background-color: #00a6a0;
  font-weight: 700;
}

.btn {
  position: absolute;
  left: 4vw;
  width: 90vw;
  border-radius: 16px;
  font-size: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 100;
}

.visitors-btn {
  top: 12px;
  height: 60px;
}

.sum-btn {
  top: 80px;
  height: 350px;
}

.link-btn {
  top: 440px;
  height: 740px;
}

.placeholder {
  height: 400px;
}
@media (orientation: portrait) {
  .link-btn {
    top: 440px;
    height: 740px;
  }
}
