<section class="wrapper education box left">
    <div class="inner text drop">
        <h3>Education</h3>
        <ul class="list">
            @for (item of education; track item.institution) {
            <li>
                <p>{{ item.period }} {{ item.institution }}</p>
                @if (item.courses.length > 0) {
                <ol>
                    @for (course of item.courses; track course) {
                    <li>{{ course }}</li>
                    }
                </ol>
                }
            </li>
            }
            <br />
        </ul>
    </div>
</section>