<section class="wrapper experience box right">
    <div class="inner text rise wide80 flex center column">
        <h3>Experience</h3>
        <ol>
            <li>Car wash worker</li>
            <ol>
                <li class="company">KA Oil: 3 months</li>
            </ol>
            <li>Construction worker</li>
            <ol>
                <li class="company">Various companies: 5 years</li>
            </ol>
            <li>Machine operator</li>
            <ol>
                <li class="company">Techno Aktash: 1 year, 10 months</li>
                <li class="company">Sensata Technologies: 9 months</li>
            </ol>
            <li>Production Line Leader</li>
            <ol>
                <li class="company">Sensata Technologies: 2 years, 2 months</li>
            </ol>
            <li>Senior Production Line Leader</li>
            <ol>
                <li class="company">Sensata Technologies: 4 years, 1 months</li>
            </ol>
            <li>Developer</li>
            <ol>
                <li class="company">
                    <p>IGE-XAO Balkan:</p>
                    <p>{{ currentPossitionTime }}</p>
                </li>
            </ol>
        </ol>
    </div>
</section>