/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  background-color: black;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #1e1e2e;
  font-family: "Courier New", Courier, monospace;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 6px;
  border: 1px solid rgb(0, 75, 14);
  border-radius: 8px;
  margin-top: 6px;
  width: 90%;
}

p {
  margin: 2px;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.wide50 {
  width: 50vw;
}

.wide80 {
  width: 80vw;
}

.gap20 {
  gap: 20px;
}

.company {
  margin-left: 20px;
  background-color: black;
}

.wrapper {
  position: relative;
  background-color: rgb(20, 20, 20);
  color: rgb(239, 239, 239);
  width: 90vw;
  max-width: 1024px;
  height: 600px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 75, 14);
  border-radius: 16px;
  overflow: hidden;
  margin: 10px;
}

.inner {
  max-width: 90%;
}

.head {
  height: 60px;
}

.summary {
  height: 460px;
}

.education {
  height: 740px;
}

.welcome {
  position: absolute;
  top: -100px; /* Start from above */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  opacity: 0;
  animation: fallDown 2s ease-out forwards;
}

@keyframes fallDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 50%;
    transform: translate(-50%, -50%); /* Perfect center */
    opacity: 1;
  }
}

.list {
  width: 90vw;
  max-width: 90%;
}

.education > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
}

.education > ol li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
}

.education > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 900px;
}

.education > div > ul > li > ol > li {
  border: 1px solid rgb(0, 201, 27);
  padding: 4px 20px;
}

.box {
  position: relative;
  opacity: 0;
  animation: slide-in 1s ease-out forwards;
}

.box.left {
  animation-delay: 0.2s;
  transform: translateX(-100%);
}

.box.right {
  animation-delay: 0.4s;
  transform: translateX(100%);
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Text animations */
.text {
  position: absolute;
  opacity: 0;
  animation: text-appear 2s forwards ease-out;
}

.text.drop {
  animation-name: drop-text;
}

.text.rise {
  animation-name: rise-text;
}

@keyframes drop-text {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rise-text {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.logos {
  gap: 32px;
  background-color: darkgray;
  padding: 30px 10px;
  border-radius: 55px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  gap: 32px;
  width: 60vw;
}

.social a {
  width: 120px;
  height: 120px;
  font-size: 60px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}

.social a:hover {
  background-color: #00a6a0;
}

.social a:hover > .socialText {
  display: inline;
}

.social i {
  border: 1px solid black;
  border-radius: 100%;
}

img {
  height: 40px;
  width: 40px;
}

.three-d-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.experience {
  height: 700px;
}

@media (orientation: portrait) {
  .three-d-text {
    font-size: 1.2rem;
  }
  .inner {
    width: 90%;
  }

  .social {
    flex-direction: column;
  }

  .info {
    height: 760px;
  }

  .wide50 {
    width: 80vw;
  }

  .experience {
    height: 740px;
  }

  .logos {
    flex-direction: column;
    gap: 6px;
    padding: 10px;
  }
}
