<section class="wrapper box height-links">
    <div class="inner text drop">
        <ul class="list">
            <li>
                <h2>ASP.NET</h2>
                <ol reversed>
                    <li><a href="https://youtu.be/qypRqBfxVeE" target="_blank">Exam Preparation</a></li>
                    <li><a href="https://youtu.be/CItncWowEPY" target="_blank">Workshop</a></li>
                    <li><a href="https://youtu.be/DO_H4eLIwGA" target="_blank">MVC Advanced - IoC and Data Binding</a>
                    </li>
                    <li><a href="https://youtu.be/Hri4BW3o6w8" target="_blank">Workshop</a></li>
                    <li><a href="https://youtu.be/jy4owq-aR3g" target="_blank">MVC Advanced - View Engine</a></li>
                    <li><a href="https://youtu.be/MTzJ0as3RBo" target="_blank">CONSULTING DAY</a></li>
                    <li><a href="https://youtu.be/PDvQOQ42jaI" target="_blank">MVC Introduction</a></li>
                    <li><a href="https://youtu.be/YPiuv8sljlY" target="_blank">Workshop</a></li>
                    <li><a href="https://youtu.be/rGFb9OJXJpw" target="_blank">Web Server - State Management</a></li>
                    <li><a href="https://youtu.be/6ibb0RHTO8k" target="_blank">Web Server - Asynchronous Processing</a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=f0sqOnKwIMg" target="_blank">Web Server - HTTP
                            Protocol</a>
                    </li>
                </ol>
            </li>
            <li>
                <h2>Entity Framework Core</h2>
                <ol reversed>
                    <li><a href="https://youtu.be/W9Clq1nF8ak" target="_blank">Exam Preparation</a></li>
                    <li><a href="https://youtu.be/KhvaAzFCRX0" target="_blank">Exam Preparation2</a></li>
                    <li><a href="https://youtu.be/fbp82mE27_s" target="_blank">Exam Preparation1.5</a></li>
                    <li><a href="https://youtu.be/z_cYMKyNMlE" target="_blank">NoSQL</a></li>
                    <li><a href="https://youtu.be/DFUBE58yrrY" target="_blank">Workshop</a></li>
                    <li><a href="https://youtu.be/dlvN-A_KjO8" target="_blank">Workshop</a></li>
                    <li><a href="https://youtu.be/Eh4QD7XQys8" target="_blank">Best Practices And Architecture</a></li>
                    <li><a href="https://youtu.be/Yocjk4eyvks" target="_blank">Exercise: Best Practices And
                            Architecture</a>
                    </li>
                    <li><a href="https://youtu.be/Gz8JJ-MxntY" target="_blank">XML Processing</a></li>
                    <li><a href="https://youtu.be/d9sXFUzij-Y" target="_blank">Exercise: XML Processing</a></li>
                    <li><a href="https://youtu.be/u13fDCMboUM" target="_blank">JSON Processing</a></li>
                    <li><a href="https://youtu.be/yBEJKYsK8VE" target="_blank">Exercise: JSON Processing</a></li>
                    <li><a href="https://youtu.be/qVBdRNtGrv0" target="_blank">C# Auto Mapping Objects</a></li>
                    <li><a href="https://youtu.be/sl0V73si3PI" target="_blank">Exercise: C# Auto Mapping Objects</a>
                    </li>
                    <li><a href="https://youtu.be/nYmjgsPNzX8" target="_blank">Advanced Querying</a></li>
                    <li><a href="https://youtu.be/QWZxnhYMoVU" target="_blank">Exercise: Advanced Querying</a></li>
                    <li><a href="https://youtu.be/_sO7dNDts3s" target="_blank">LINQ</a></li>
                    <li><a href="https://youtu.be/Hnz76IBAfOk" target="_blank">Exercise: LINQ</a></li>
                    <li><a href="https://youtu.be/wgE45bUz4mE" target="_blank">Entity Relations</a></li>
                    <li><a href="https://youtu.be/tZg2kz4d4qs" target="_blank">Exercise: Entity Relations</a></li>
                    <li><a href="https://youtu.be/FV_AlWkEyK0" target="_blank">Entity Framework Introduction</a></li>
                    <li><a href="https://youtu.be/B5IDAcsXvaI" target="_blank">Exercise: Entity Framework
                            Introduction</a></li>
                    <li><a href="https://youtu.be/63WO4A7TRhY" target="_blank">ORM Fundamentals</a></li>
                    <li><a href="https://youtu.be/ZGym70dIHo0" target="_blank">Exercise: ORM Fundamentals</a></li>
                    <li><a href="https://youtu.be/CM-WA6I2J-o" target="_blank">ADO.NET</a></li>
                    <li><a href="https://youtu.be/eOcwBL3MUD8" target="_blank">Exercise: ADO.NET</a></li>
                </ol>
            </li>
            <li>
                <h2>MSSQL</h2>
                <ol reversed>
                    <li><a href="https://youtu.be/EtxiCbl2aXM" target="_blank">Exam Preparation</a></li>
                    <li><a href="https://youtu.be/CKJuqFM3H_c" target="_blank">Exam Preparation2</a></li>
                    <li><a href="https://youtu.be/mYJOHmUZEk8" target="_blank">Triggers and Transactions</a></li>
                    <li><a href="https://youtu.be/74OjdxPS0lk" target="_blank">Functions and Procedures</a></li>
                    <li><a href="https://youtu.be/p0vo1OPVbHE" target="_blank">Exercise: Functions and Procedures</a>
                    </li>
                    <li><a href="https://youtu.be/p0vo1OPVbHE" target="_blank">Exercise: Functions and Procedures</a>
                    </li>
                    <li><a href="https://youtu.be/bKfYTmtqJ_w" target="_blank">Indices and Data Aggregation</a></li>
                    <li><a href="https://youtu.be/dgfbxPcm_KE" target="_blank">Exercise: Indices and Data
                            Aggregation</a></li>
                    <li><a href="https://youtu.be/hEEcqb3dtDg" target="_blank">Subqueries and Joins</a></li>
                    <li><a href="https://youtu.be/wvgXDwuJPZw" target="_blank">Exercise: Subqueries and Joins</a></li>
                    <li><a href="https://youtu.be/WO5L-QIJs8A" target="_blank">Built-in Functions</a></li>
                    <li><a href="https://youtu.be/lTcVkQcPbK4" target="_blank">Exercise: Built-in Functions</a></li>
                    <li><a href="https://youtu.be/U7tTwG0rdGk" target="_blank">Table Relations</a></li>
                    <li><a href="https://youtu.be/vxoCxg6iZoA" target="_blank">Exercise: Table Relations</a></li>
                    <li><a href="https://youtu.be/QYEeddOCe4U" target="_blank">CRUD</a></li>
                    <li><a href="https://youtu.be/t9c99o85qO0" target="_blank">Exercise: CRUD</a></li>
                    <li><a href="https://youtu.be/4uwArOTPlyQ" target="_blank">Databases Introduction</a></li>
                    <li><a href="https://youtu.be/eXORxoifLsA" target="_blank">Exercise: Databases Introduction</a></li>
                </ol>
            </li>
            <li>
                <h2>C# OOP</h2>
                <ol reversed>
                    <li><a href="https://youtu.be/DXfauRlRPF4" target="_blank">Q&A Session</a></li>
                    <li> <a href="https://youtu.be/pCCHojcAh7g" target="_blank">Exam Preparation</a></li>
                    <li> <a href="https://youtu.be/zbeEGjcWvDs" target="_blank">Exam Preparation2</a></li>
                    <li><a href="https://youtu.be/1MN8kjw7P24" target="_blank">Workshop</a></li>
                    <li><a href="https://youtu.be/epMljGtkTDE" target="_blank">Workshop2</a></li>
                    <li><a href="https://youtu.be/wyVeGKRCmJw" target="_blank">Design Patterns</a></li>
                    <li><a href="https://youtu.be/8OXH5h9lQeg" target="_blank">Exercise: Design Patterns</a></li>
                    <li><a href="https://youtu.be/uA17rRihQz0" target="_blank">Mocking and Test Driven Development</a>
                    </li>
                    <li><a href="https://youtu.be/5xBsp6wd7aU" target="_blank">Exercise: Mocking and Test Driven
                            Development</a>
                    </li>
                    <li><a href="https://youtu.be/D6AXSAsKxxM" target="_blank">Unit Testing</a></li>
                    <li><a href="https://youtu.be/pBRW0BG6hi8" target="_blank">Exercise: Unit Testing</a></li>
                    <li><a href="https://www.youtube.com/watch?v=ERofkjV12PM" target="_blank">Reflection and
                            Attributes</a></li>
                    <li><a href="https://youtu.be/CFm_qL-lhdc" target="_blank">Exercise: Reflection and Attributes</a>
                    </li>
                    <li><a href="https://youtu.be/W3jzsCWXkbw" target="_blank">SOLID</a></li>
                    <li><a href="https://youtu.be/tVEY7kcQ7JE" target="_blank">Exercise: SOLID</a></li>
                    <li><a href="https://youtu.be/xz6HIHgUtVU" target="_blank">Debugging Techniques</a></li>
                    <li><a href="https://youtu.be/GouvhhzvOWg" target="_blank">Exception Handling</a></li>
                    <li><a href="https://www.youtube.com/watch?v=CW2aTx5G1Yg" target="_blank">Polymorphism</a></li>
                    <li><a href="https://youtu.be/CW2aTx5G1Yg" target="_blank">Exercise: Polymorphism</a></li>
                    <li><a href="https://youtu.be/vR88YOKGzoI" target="_blank">Interfaces and Abstraction</a></li>
                    <li><a href="https://youtu.be/oolvmuYqYY4" target="_blank">Exercise: Interfaces and Abstraction</a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=4Vf0bp2DCQQ" target="_blank">Encapsulation</a></li>
                    <li><a href="https://youtu.be/j8NArvbylnA" target="_blank">Exercise: Encapsulation</a></li>
                    <li><a href="https://youtu.be/mNYxFLyiWQs" target="_blank">Inheritance</a></li>
                    <li><a href="https://www.youtube.com/watch?v=xqXUUiYFb2c" target="_blank">Exercise: Inheritance</a>
                    </li>
                </ol>
            </li>
            <li>
                <h2>C# Advanced</h2>
                <ol reversed>
                    <li><a href="https://youtu.be/2dm3omhRlag" target="_blank">Algorithms Introduction</a></li>
                    <li><a href="https://www.youtube.com/watch?v=eMqrCwiRWZ8" target="_blank">Exam Preparation1.1</a>
                    </li>
                    <li><a href="https://youtu.be/4ZSxohofwTA" target="_blank">Exam Preparation1.2</a></li>
                    <li><a href="https://youtu.be/CXNnpvtwn14" target="_blank">Exam Preparation2</a></li>
                    <li><a href="https://youtu.be/raKE0ABuWOo" target="_blank">Iterators and Comparators</a></li>
                    <li><a href="https://youtu.be/75wvJHW6N9A" target="_blank">Exercise</a></li>
                    <li><a href="https://youtu.be/BXyFCyfgYqk" target="_blank">Generics</a></li>
                    <li><a href="https://youtu.be/I4R3BnjDR0M" target="_blank">Exercise</a></li>
                    <li><a href="https://youtu.be/mQwzT9cMfTA" target="_blank">Implementing Stack and Queue</a></li>
                    <li><a href="https://youtu.be/bMlZo2XXcBE" target="_blank">Implementing Linked List</a></li>
                    <li><a href="https://youtu.be/2NAUIxo3bJA" target="_blank">Defining classes</a></li>
                    <li><a href="https://youtu.be/pd_6ElH6B78" target="_blank">Exercise</a></li>
                    <li><a href="https://youtu.be/hEwSqJdZp9Y" target="_blank">Functional Programming</a></li>
                    <li><a href="https://youtu.be/kGT5xX4Vvu4" target="_blank">Exercise</a></li>
                    <li><a href="https://youtu.be/ulFLjTqEciA" target="_blank">Streams, Files and Directories</a></li>
                    <li><a href="https://youtu.be/wl_qSDbUil8" target="_blank">Exercise</a></li>
                    <li><a href="https://youtu.be/xSFlKL5FZi8" target="_blank">Sets and Dictionaries Advanced</a></li>
                    <li><a href="https://youtu.be/xcJPwhcPNHc" target="_blank">Exercise</a></li>
                    <li><a href="https://youtu.be/3dVoFMcC2qE" target="_blank">Multidimensional Arrays</a></li>
                    <li><a href="https://youtu.be/rNr4KTwKwk8" target="_blank">Exercise</a></li>
                    <li><a href="https://www.youtube.com/watch?v=0DNCQRisf" target="_blank">Stacks and Queues</a></li>
                    <li><a href="https://youtu.be/ahJNFgbcbc8" target="_blank">Exercise</a></li>
                    <li><a href="https://www.youtube.com/watch?v=5gN7onLn0xU" target="_blank">Course Introduction</a>
                    </li>
                </ol>
            </li>

            <li>
                <h2>C# Fundamentals</h2>
                <ol reversed>
                    <li><a href="https://www.youtube.com/watch?v=Swm4iEfxkRU" target="_blank"> Basic Web Project </a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=v7QRcBbO32Y" target="_blank"> QA Introduction </a></li>
                    <li><a href="https://www.youtube.com/watch?v=nKfg0xiPYIU" target="_blank"> Exam Preparation1 </a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=YncEYyhGD7s" target="_blank"> Exam Preparation2 </a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=f2IU8VtKOg4" target="_blank"> Git and GitHub </a></li>
                    <li><a href="https://www.youtube.com/watch?v=M0C9PRiUluo" target="_blank"> Regular Expressions </a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=jYRVln5uokw" target="_blank"> Exercise: Regular
                            Expressions
                        </a></li>
                    <li><a href="https://www.youtube.com/watch?v=R8fpoq2B7Lg" target="_blank"> Database Basics </a></li>
                    <li><a href="https://www.youtube.com/watch?v=dTkrTaDv1o4" target="_blank"> Text Processing </a></li>
                    <li><a href="https://www.youtube.com/watch?v=Tj4NfZjrJi4" target="_blank"> Exercise: Text Processing
                        </a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=m41wRY2zDVk" target="_blank"> Problem Solving </a></li>
                    <li><a href="https://www.youtube.com/watch?v=2UJp1oiltPY" target="_blank"> Associative Arrays </a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=1XaSaPu6MH4" target="_blank"> Exercise: Associative
                            Arrays </a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=clytLKNJehQ" target="_blank"> Bitwise Operations </a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=O6HPBOoCwwg" target="_blank"> Objects and Classes </a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=s3-9PhsEVjg" target="_blank"> Exercise: Objects and
                            Classes
                        </a></li>
                    <li><a href="https://www.youtube.com/watch?v=iu7PUPrQKSk" target="_blank"> Exam Preparation </a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=VGq1e1BOdmA" target="_blank"> Lists </a></li>
                    <li><a href="https://www.youtube.com/watch?v=iYzMbb01IA4" target="_blank"> Exercise:Lists </a></li>
                    <li><a href="https://www.youtube.com/watch?v=X3I9kfE8Qps" target="_blank"> Software Dev. Concepts -
                            2
                            (S.Nakov) </a></li>
                    <li><a href="https://www.youtube.com/watch?v=y6KXzRzZpKE" target="_blank"> Methods </a></li>
                    <li><a href="https://www.youtube.com/watch?v=Big7LzbpEkQ" target="_blank"> Exercise: Methods</a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=ee0UAfrsLAM" target="_blank"> Software Dev. Concepts -
                            Part
                            1</a></li>
                    <li><a href="https://www.youtube.com/watch?v=x79iDXGOlyc?t=1620" target="_blank"> Arrays</a></li>
                    <li><a href="https://www.youtube.com/watch?v=mPOkDntXyfg" target="_blank"> Exercise: Arrays</a></li>
                    <li><a href="https://www.youtube.com/watch?v=jpwilEUyTn8?t=1822" target="_blank"> HTML and CSS
                            Basics</a>
                    </li>
                    <li><a href="https://www.youtube.com/watch?v=1YS1h0ENek0" target="_blank">Data Types and
                            Variables</a></li>
                    <li><a href="https://www.youtube.com/watch?v=YRJBYfxny4U" target="_blank"> Exercise: Data Types and
                            Variables</a></li>
                    <li><a href="https://www.youtube.com/watch?v=qqBXjHqSWzI" target="_blank">IT Talks</a></li>
                    <li><a href="https://www.youtube.com/watch?v=qEIy8xEhJTg" target="_blank">Resources</a></li>
                </ol>
            </li>

            <li>
                <h2>Additionals</h2>
                <ol>
                    <li><a href="https://youtu.be/n60kNS09ZDs" target="_blank">Git and GitHub</a></li>
                    <li><a href="https://www.youtube.com/watch?v=KIKbqh7UEos" target="_blank">Recursion Introduction.
                            All paths
                            in a Labyrinth. Eight queens problem.</a></li>
                    <li><a href="https://youtu.be/Fcj2tyRk-8w" target="_blank">Working with Abstraction</a></li>
                    <li><a href="https://youtu.be/LkWis2vrUIE" target="_blank">Reflection Masterclass</a></li>
                    <li><a href="https://youtu.be/Ob2uN8XdQmY" target="_blank">C# Advanced - Functional Programming</a>
                    </li>
                    <li><a href="https://youtu.be/9tutJrjpRd0" target="_blank">Text Processing and Regular
                            Expressions</a></li>
                    <li><a href="https://youtu.be/saKCqoBwUTg" target="_blank">Custom unit testing framework</a></li>
                    <li><a href="https://www.youtube.com/watch?v=KrTMzYhpo3E" target="_blank">C# Masterclass - C# Tips
                            and
                            Tricks</a></li>
                    <li><a href="https://www.youtube.com/watch?v=25Fj5iMRFIg" target="_blank">Introduction to CSS </a>
                    </li>
                    <li><a href="https://youtu.be/TewMxkTddQk" target="_blank">Introduction to HTML </a></li>
                </ol>
            </li>

            <li>
                <h2>HTML & CSS</h2>
                <ol>
                    <li><a href="https://youtu.be/BUOGlCMsJLA" target="_blank">Exam Preparation</a></li>
                    <li><a href="https://youtu.be/w0wr4A6SzPo" target="_blank">Design to Code - Demo Project</a></li>
                    <li><a href="https://youtu.be/Tu_FaUzCZKs" target="_blank">Media Queries</a></li>
                    <li><a href="https://youtu.be/hKcOsh24FvE" target="_blank">Flexbox</a></li>
                    <li><a href="https://youtu.be/CvlqwoNQ9go" target="_blank">Exercise: Flexbox</a> </li>
                    <li><a href="https://youtu.be/M1tYnxsHqZ8" target="_blank">Position & Grid</a></li>
                    <li><a href="https://youtu.be/OOXdt4cOGzU" target="_blank">Exercise: Position & Grid</a></li>
                    <li><a href="https://youtu.be/yStOgz3GJRs" target="_blank">CSS Box Model</a></li>
                    <li><a href="https://youtu.be/FTEnYS_w5cQ" target="_blank">Exercise: CSS Box Model</a></li>
                    <li><a href="https://youtu.be/_MncSiV2jEE" target="_blank">Exercise: HTML & CSS</a></li>
                    <li><a href="https://youtu.be/y6udZikvtus" target="_blank">CSS & Typography</a></li>
                    <li><a href="https://youtu.be/J5FYdEsXTzA" target="_blank">HTML Structure</a></li>
                    <li><a href="https://youtu.be/GVkNqiXwb9c" target="_blank">Introduction to HTML & CSS</a></li>
                </ol>
            </li>
            <li>
                <h2>Tetris</h2>
                <ol>
                    <li><a href="https://www.youtube.com/watch?v=_-JyqwaLjVM" target="_blank">Part 1</a></li>
                    <li><a href="https://www.youtube.com/watch?v=lWsm3ZTSnt0" target="_blank">Part 2</a></li>
                    <li><a href="https://www.youtube.com/watch?v=VBxFekjsGPc" target="_blank">Part 3</a></li>
                    <li><a href="https://youtu.be/SmDNHr3uL-E" target="_blank">Part 4</a></li>
                    <li><a href="https://youtu.be/v2mEpgxSB6A" target="_blank">Part 5</a></li>
                    <li><a href="https://youtu.be/IjO38LeZuHY" target="_blank">Part 6</a></li>
                </ol>
            </li>
        </ul>
    </div>
</section>

<section class="wrapper back">
    <button class="back-btn" (click)="back()">Back</button>
</section>