<section class="wrapper box height-links">
    <div class="inner text drop">
        <div class="links-columns">
            <p>Total links: {{ totalLinks }}</p>

            <ul class="list">
                @for (section of links; track section) {
                <li>
                    <h2>{{ section.title }}</h2>
                    <ol>
                        @for (link of section.items; track link) {
                        <li>
                            <a [href]="link.url" target="_blank">{{ link.label }}</a>
                        </li>
                        }
                    </ol>
                </li>
                }
            </ul>
        </div>
    </div>
</section>

<section class="wrapper back">
    <button class="back-btn" (click)="back()">Back</button>
</section>