<section class="wrapper box height-links">
    <div class="inner">
        <div class="links-columns">

            <ul class="list">
                @for (course of courses; track course.title) {
                <li>
                    <h2>{{ course.title }}</h2>
                    <ol>
                        @for (link of course.links; track link.id) {
                        <li>
                            <a [href]="'https://youtu.be/' + link.id" target="_blank">{{ link.label }}</a>
                        </li>
                        }
                    </ol>
                </li>
                }
            </ul>
            <p>Total: {{ totalLinks }} videos</p>
        </div>
    </div>
</section>

<section class="wrapper back">
    <button class="back-btn" (click)="back()">Back</button>
</section>